:where(.css-dev-only-do-not-override-19yxfbp).ant-menu-inline .ant-menu-item,
:where(.css-dev-only-do-not-override-19yxfbp).ant-menu-vertical .ant-menu-item,
:where(.css-dev-only-do-not-override-19yxfbp).ant-menu-inline .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-19yxfbp).ant-menu-vertical .ant-menu-submenu-title {
  width: 100%;
  margin-inline: 0;
  margin-block: 0;
}

:where(.css-dev-only-do-not-override-19yxfbp).ant-menu .ant-menu-item,
:where(.css-dev-only-do-not-override-19yxfbp).ant-menu .ant-menu-submenu,
:where(.css-dev-only-do-not-override-19yxfbp).ant-menu .ant-menu-submenu-title {
  border-radius: 0;
}

:where(.css-dev-only-do-not-override-19yxfbp).ant-menu-light .ant-menu-item-selected {
  font-weight: 500;
  border-right: 3px solid #1677ff;
  background-color: RGBA(213, 221, 252, 1.00);
}

:where(.css-dev-only-do-not-override-19yxfbp).ant-layout .ant-layout-sider-trigger,
:where(.css-dev-only-do-not-override-19yxfbp).ant-layout .ant-layout-sider {
  background-color: #fff;
  border-right: 1px solid #E8E8E8;
}

:where(.css-dev-only-do-not-override-19yxfbp).ant-layout .ant-layout-sider-trigger {
  color: #999;
  text-align: left;
  padding-left: 24px;
  border-top: 1px solid #E8E8E8;
}

.card {
  padding      : 24px;
  background   : #fff;
  border-radius: 8px;
  min-height   : calc(100vh - 96px);
  box-shadow   : 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}